html
    title Title
    block css
        link(href='css/mini-default.min.css', rel='stylesheet')
        link(href='css/bundle.css', rel='stylesheet')
    block scripts
        script(src="js/umbrella.min.js")

    body
        #header
            block header
        #content
            block content
        #footer
            block footer