html
    title Title
    block css
        link(href='css/mini-default.min.css', rel='stylesheet')

    body
        #header
            block header
        #content
            block content
        #footer
            block footer